/* Site wide */

body {
    background-color: #3ac0ff;
}

header {
    background-color: #000;
    color: #fff;
}

header > h1 {
    font-size: 32px;
    font-weight: bold;
    padding: 5px;
    width: auto;
    display: inline-block;
    margin-bottom: 0;
}

header > #menu {
    display: inline-block;
    width: auto;
    float: right;
}

header > #menu > a > button {
    margin-top: 9px;
    display: inline-block;
}

/* Tracker */

.header > .group_icons {
    float: right;
}

.ui.card.group {
    margin: 20px;
    padding: 3px;
    vertical-align: top;
    display: inline-block;
    background-color: #B4E7FF;
}

form.ui.action.input > input {
    width: 96%;
}

.ui.list {
    min-height: 10px;
}

.ui.list > .ui.segment {
    word-break: break-all;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.ui.list > .ui.segment > a {
    display: none;
}

.ui.list > .ui.segment > a > .icon {
    float: right;
    display: inline-block;
    height: 100%;
    margin-right: -20px;
}

a.delete_group {
    display: none;
}

/* Login/Register forms */

#container {
    margin-left: auto;
    margin-right: auto;
    width: 400px;
    margin-top: 50px;
}

#container > form > h1 {
    text-align: center;
}

#container > form > .segment > .field {
    margin: 5px;
}


#container > form > .segment > .field > .input {
    width: 100%;
}

#container > form > .segment > .field > .input > input {
    width: 100%;
}

#container > form > .segment > button {
    display: inline-block;
}

#signup {
    text-align: center;
}

#signup > a > button {
    display: inline-block;
}

#register {
    text-align: right;
}

#register > button {
    display: inline-block;
    margin-top: 10px;
}