{% extends "task_manager/base.html" %}
{% load static %}
{% block head %}
    <script type="text/javascript">
        var csrf_token = "{{ csrf_token }}";
        var item_move_url = "{%  url 'item_move' %}";
        var item_delete_url = "{% url 'item_delete' %}";
        var group_order_url = "{% url 'group_order' %}";
        var group_delete_url = "{% url 'group_delete' %}";
        var board_order_url = "{% url 'board_order' %}";
    </script>
    <script src="{% static "task_manager/js/tracker.js" %}"></script>
{% endblock %}

{% block content %}
    {% for group in groups %}
    <div id="group_{{ group.id }}" class="group ui card">
        <div class="content">
            <div class="header">
                <div class="group_icons">
                    <a class="delete_group" href="#"><i class="remove circle red icon"></i></a>
                    <a class="unlock_group" href="#"><i class="lock grey icon"></i></a>
                </div>
                {{ group.name|striptags }}
            </div>
            <div class="description">
                <div id="list_{{ group.id }}" class="ui list">
                    {% for item in group.item_set.all %}
                        <div id="item_{{ item.id }}" class="ui item segment">
                            <a class="delete_item" href="#"><i class="remove circle red icon"></i></a>
                            {{ item.content|striptags }}
                        </div>
                    {% endfor %}
                </div>
                <form action="{% url 'item_add' %}" class="ui action input" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="group_id" value="{{ group.id }}" />
                    <input type="text" name="content" placeholder="Add a new item..."/>
                    <button class="ui icon button">
                        <i class="plus icon"></i>
                    </button>
                </form>
            </div>
        </div>
    </div>
    {% endfor %}
    <div class="group ui card pin">
        <div class="content">
            <div class="description">
                <form action="{% url 'group_add' %}" class="ui action input" method="post">
                    {% csrf_token %}
                    <input type="hidden" name="board_id" value="{{ board.id }}" />
                    <input type="text" name="group_name" placeholder="Add a new group..." maxlength="64" />
                    <button class="ui icon button">
                        <i class="plus icon"></i>
                    </button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}